* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --color: #4f4f4f;
}

a {
    text-decoration: none;
}

p {
    max-width: 75ch;
}

img {
    width: 100%;
    height: auto;
}

.section {
    padding: 8rem 0;
}
.section-small {
    padding: 4rem 0;
}

.text-center {
    text-align: center;
}

.logo {
    width: 4rem;
    height: auto;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
