* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root {
    --color: #4f4f4f;
}

@font-face {
    font-family: "Oxanium";
    font-style: normal;
    font-weight: 600;
    src: url("./fonts/oxanium.ttf") format("truetype");
    font-display: swap;
}

a {
    text-decoration: none;
}

p {
    max-width: 75ch;
}

img {
    width: 100%;
    height: auto;
}

.section {
    padding: 8rem 0;
}
.section-small {
    padding: 4rem 0;
}

.text-center {
    text-align: center;
}

.logo {
    width: 4rem;
    height: auto;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.screencap {
    transition: transform 0.2s;
    border-radius: 10px;
}

.screencap:hover {
    transform: scale(0.98);
}
