:root {
    --color: #fffdf0;
}

a {
    box-sizing: border-box;
    text-decoration: none;
}

p {
    max-width: 75ch;
}

img {
    width: 100%;
    height: 100%;
}

.section {
    padding: 10vw 0;
}

.text-center {
    text-align: center;
}

.logo {
    width: 4rem;
    height: auto;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
